h2 {

  font-size: 40px;
  font-family: lobster,sans-serif;
  margin-left: 100px;
}

p {
  font-size: 15px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-left: 100px;
  text-align:left;

}



h3 {

  font-size: 25px;
  margin-left: 100px;
  font-family: lobster,sans-serif;

}

.first {

  width: 18%;
  border-radius: 100px;
  margin-left: 25px;
  opacity: 0.6;

}

 .second {

   width: 35%;
   margin-top: 58px;
   opacity: 0.6;

 }

 main {
   width: 99%;
  margin: 0 auto;
 }

.col-1 {
display: inline-block;
vertical-align: top;
width: 60%;

}
