footer {
width: 100%;
  border-top: 2px solid gray;


footer img {
  margin-left: 5px;
  padding: 0;
  width: 307px;
  height: 250px;

}

footer h1 {
font-family: lobster, sans-serif;
font-size: 45px;
color:#162656;
  text-align: center;
}
}

.diff {
  opacity: 0.6;

}
