.nav-bar {
position: relative;



ul {
margin-top: 0;

}

li {
  margin-top: 10px;
  padding: 30px;
  display: inline-block;
  font-size: 16px;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #121E42;
  font-weight: bold;
}
}

.right {
display:inline-block;
font-size: 19px;
margin:10px -593px 0px 571px;


}
